/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки  
*/

.page {
  font-family: var(--font);
  font-variation-settings: "wght" var(--font-wgth-main);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: var(--grid-gradient);
  background-attachment:fixed;
}

.header {
  max-block-size: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
}

.hero-block {
  padding: 121.5px 16px;
  /* padding-block: clamp(122px, 121px + 0.01vw, 130px);
  padding-inline: clamp(16px, calc(16px + (100vw - 26.04vw) * 1.44), 122.5px); я старался, извините))*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  inline-size: clamp(375px, 100%, 700px);
  gap: 17px;
  border: 2px solid #000;
  margin: 100px auto;
}

.title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  font-weight: 400;
}

.subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-weight: 400;
}

.article {
  background-color: #fff;
  border: 2px solid #000;
  inline-size: clamp(375px, 100vw, 700px);
  margin-block-end: 50px;
}

.article__title {
  font-family: var(--font);
  font-variation-settings: "wght" var(--font-wgth-title);
  font-size: 18px;
  /* padding: 3px 10px; */
  padding: 1px 10px;
  line-height: 1.3;
}

.picure-block {
  min-block-size: 371px;
  inline-size: 100%;
  position: relative;
}

.picure-block__img {
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-block-size: 371px;
  inline-size: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.picure-block__lable {
  width: 98px;
  font-family: var(--accent-font);
  text-shadow: 1px #fff;
  font-weight: 400;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .picure-block__lable {
    -webkit-text-stroke: 1px #fff; 
    text-shadow: none; 
  }
}

.article__text-block {
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  font-family: var(--font);
  font-variation-settings: "wght" var(--font-wgth-main);
  font-size: 18px;
  line-height: 1.17;
}

.article__paragraph {
  /* margin-bottom: 25px; */
  margin-bottom: 29px;
}

.article__paragraph:last-child {
  margin-bottom: 0;
}

.button {
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button .button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.article-buttons {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
  padding: 0 25px 25px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.card__like-button:focus,
.save:focus,
.popup-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
  background-color: transparent;
  border: none;
  transform-origin: center;
}

.card__icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 36px;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  -webkit-transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.brightness {
  filter: brightness(1.2);
}

.contrast {
  filter: contrast(1.3);
}

.saturate {
  filter: saturate(1.5);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.sepia {
  filter: sepia(0.8);
}

.grayscale {
  filter: grayscale(1);
}

.blur {
  filter: blur(2px);
}

.invert {
  filter: invert(1) contrast(115%);
}

.save {
  inline-size: clamp(306px, 82%, 335px);
  block-size: 84px;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 8px;
}

@media (width > 700px) {
  .save {
    flex-direction: row;
    block-size: 55px;
  }

  .hero-block {
  padding: 130px 121.5px;
}

}

.floppy-icon {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 1;
  fill: #fff;
  mix-blend-mode: difference;
  flex-shrink: 0;
}

.popup {
  inline-size: clamp(337px, calc(1.127vw + 336.8px), 349px);
  /* block-size: 191px; */
  padding: 0;
  border: 2px solid #000;
  box-sizing: content-box;
}

.popup::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.popup-title {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.popup__block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 30px 40px 0 40px;
}

.popup-button {
  padding: 12.5px 116.5px;
  display: flex;
  justify-self: center;
  margin-block-end: 30px;
  margin-block-start: 30px;
  background-color: transparent;
}

.popup-button .button__text {
  text-transform: uppercase;
}

.popup__block_floppy-icon {
  width: 39px;
  height: 39px;
}

.popup-title .button__text {
  margin-right: 30px;
}